*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
}

.padding-site {
    position: relative;
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
}

.menu a{
    padding: 10px 13px;
    display: block;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.menu .active-menu{
    color:  #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu .active-menu:hover {
    border-bottom: 3px solid #212121;
}

.menu a:hover{
    color: #212121;
    border-bottom: 1px solid #212121;
}

.logo {
    margin-top: 63px;
}


.text {
    margin-top: 283px;
}
.text h3 {
    color: #43a047;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 25px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    
    margin-bottom: 22px;
    text-transform: uppercase;
}
.text h2 {
    color: #212121;
    font-size: 62px; /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 47px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 34px;
    
    text-transform: uppercase;
}
.text p {
    color: #6c6c6c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    width: 458px;
    margin-bottom: 32px;
}
    
.text a {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    
    text-decoration: none;
    display: block;
    border-radius: 22.5px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.circle-box {
    position:absolute;
    bottom: 19px;
    display: flex;
    width: 1170px;
    justify-content: center;
    align-items: center;
}

.circle {
    display: block;
    background-color:  rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.circle:hover {
    background-color:  #212121;
}


.circle-active {
    border-radius: 50%;
    background-color:  #212121;
    width: 40px;
    height: 40px;
}

.product {
    width: 270px;
    height: 270px;
    position: relative;
    margin-bottom: 30px;
}

.box-product {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-info {
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.product:hover .product-info{
    display: block;
}

.product-info a{
    border-radius: 50%;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    
    
    color:  #212121;
    font-size: 34px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;

    text-decoration: none;
    display: block;
    text-transform: uppercase;
    
    margin-left: 111px;
    margin-top: 62px;
    margin-bottom: 19px;
}

.product-info h3{
    margin-bottom: 23px;
}

.product-info p{
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
    
    padding-left: 32px;
    padding-right: 32px;
}

.exclusive {
    display: flex;
}

.exclusive > div {
    width: 50%;
    height: 683px;
}

.exclusive-left {
    background-image: url(../img/promo-img.png);
}

.exclusive-raight {
    background-image: url(../img/promo-img1.png);
}

.exclusive-text {
    margin-top: 228px;
    margin-left: 51px;
}
.exclusive-text h3 {
    color:  #1e88e5;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    
    margin-bottom: 22px;
    text-transform: uppercase;
}
.exclusive-text h2 {
    font-family: Montserrat;
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    
    margin-bottom: 18px;
    
}
.exclusive-text p {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 13.99px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleY(1.0022); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    
    width: 374px;
    margin-bottom: 24px;
}
    
.exclusive-text a {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 46px;
    
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    
    text-decoration: none;
    display: block;
    border-radius: 22.5px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

